$black: #000;
$dark: #191a20; //헤딩, 가격 등 (본문보다 더 강조)
$primary: #3f4150; //본문
$secondary: #8c8d96; //본문보다 덜 중요한
$tertiary: #b2b3b9; //
$border: #e0e2e7; //배경색보다 진하면 보더
$background: #f7f8fa; //흰색 다음으로 진한 색은 거의 배경색
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;
